Repository Im-Rises/cMergeSortParallel, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, CMakeLists, readme, github-actions, src, main, test

wip
  Makefile
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
  speedTest/speedTestArrays/array_10.txt
  speedTest/speedTestArrays/array_100.txt
  speedTest/speedTestArrays/array_1000.txt
  speedTest/speedTestArrays/array_10000.txt
  speedTest/speedTestArrays/array_100000.txt
Labels: repo

Corrected OpenMP
  commonFunctions/sortFunctions.h
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
Labels: none

Adding copy algorithm version
  README.md
  mergeSortOpenMP/d2omp_v2.c
  mergeSortPThread/d2p_v2.c
  mergeSortSequential/d2s_v2.c
Labels: repo, readme

wip
  Makefile
  README.md
  buildMakeFile/fileGenerator
  buildMakeFile/mergeSortOpenMp
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
  mergeSortOpenMP/CMakeLists.txt
  mergeSortOpenMP/d2omp.c
  mergeSortSequential/d2s.c
Labels: repo, readme

new openmp version
  mergeSortOpenMP/d2omp_v2.c
  mergeSortOpenMP/new_ver.c
Labels: none

Formatted new openmp version
  mergeSortOpenMP/new_ver.c
Labels: none

wip
  mergeSortOpenMP/d2omp.c
  mergeSortOpenMP/d2omp_v2.c
  mergeSortOpenMP/new_ver.c
  mergeSortPThread/d2p.c
  mergeSortPThread/d2p_v2.c
  mergeSortSequential/d2s.c
  mergeSortSequential/d2s_v2.c
Labels: none

wip
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p_new.c
  mergeSortPThread/fileGenerator
Labels: none

wip
  fichier_test2
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortPThread/d2p_new.c
Labels: repo

wip
  CMakeLists.txt
  Makefile
  buildMakeFile/fileGenerator
  buildMakeFile/mergeSortOpenMp
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
  mergeSortPThread/d2p.c
  mergeSortPThread/fileGenerator
  mergeSortSequential/d2s.c
Labels: repo

Updated pthread
  mergeSortPThread/d2p.c
Labels: none

Updated pthread
  fichier_test2
  speedTest/multithreads_comparaisons_v2.xlsx
Labels: repo

wip
  mergeSortPThread/d2p.c
Labels: none

new pthread version
  mergeSortPThread/d2p.c
Labels: none

wip
  speedTest/multithreads_comparaisons.csv
  speedTest/multithreads_comparaisons.xlsx
  speedTest/multithreads_comparaisons_v2.xlsx
Labels: none

wip
  mergeSortPThread/d2p.c
Labels: none

wip
  mergeSortPThread/d2p.c
Labels: none

Corrected pthread
  mergeSortPThread/d2p.c
Labels: none

wip
  mergeSortPThread/d2p.c
Labels: none

Last version
  mergeSortPThread/d2p.c
Labels: none

Updated algorithm
  Makefile
  README.md
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
  speedTest/multithreads_comparaisons.csv
  speedTest/multithreads_comparaisons.xlsx
Labels: repo, readme

wip
  Makefile
  README.md
  speedTest/multithreads_comparaisons.xlsx
Labels: repo, readme

wip
  README.md
  commonFunctions/sortFunctions.h
  fileGenerator/CMakeLists.txt
  fileGenerator/fileGenerator.c
  mergeSortOpenMP/CMakeLists.txt
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortSequential/CMakeLists.txt
  mergeSortSequential/d2s.c
  speedTest/fileGenerator.sh
  speedTest/multithreads_comparaisons.csv
  speedTest/multithreads_comparaisons.xlsx
  speedTest/outputs/readme.txt
  speedTest/speedTest.sh
  speedTest/speedTestArrays/array_10.txt
  speedTest/speedTestArrays/array_100.txt
  speedTest/speedTestArrays/array_1000.txt
  speedTest/speedTestArrays/array_10000.txt
  speedTest/speedTestArrays/array_100000.txt
  speedTest/speedTestArrays/readme.txt
  test/CMakeLists.txt
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
Labels: repo, readme

wip
  commonFunctions/sortFunctions.h
  fileGenerator/CMakeLists.txt
  fileGenerator/fileGenerator.c
  mergeSortOpenMp/CMakeLists.txt
  mergeSortOpenMp/d2omp.c
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortSequential/CMakeLists.txt
  mergeSortSequential/d2s.c
  speedTest/fileGenerator.sh
  speedTest/multithreads_comparaisons.csv
  speedTest/multithreads_comparaisons.xlsx
  speedTest/outputs/readme.txt
  speedTest/speedTest.sh
  speedTest/speedTestArrays/array_10.txt
  speedTest/speedTestArrays/array_100.txt
  speedTest/speedTestArrays/array_1000.txt
  speedTest/speedTestArrays/array_10000.txt
  speedTest/speedTestArrays/array_100000.txt
  speedTest/speedTestArrays/readme.txt
  test/CMakeLists.txt
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
Labels: none

wip
  .github/workflows/c-cpp.yml
  .github/workflows/codeql.yml
  Makefile
  README.md
  mergeSortOpenMp/d2omp.c
  mergeSortOpenMp/main.c
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortPThread/main.c
  mergeSortSequential/d2s.c
  mergeSortSequential/main.c
  test/CMakeLists.txt
Labels: repo, readme, github-actions, main

wip
  mergeSortOpenMp/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
Labels: none

wip
  mergeSortOpenMp/d2omp.c
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
Labels: none

wip
  Makefile
  README.md
  speedTest/multithreads_comparaisons.csv
  speedTest/multithreads_comparaisons.xlsx
Labels: repo, readme

new ver
  .github/workflows/c-cpp.yml
  mergeSortPThread/CMakeLists.txt
Labels: github-actions

wip
  .github/workflows/c-cpp.yml
  Makefile
  README.md
  commonFunctions/commonFunctions.c
  commonFunctions/commonFunctions.h
  commonFunctions/sortFunctions.h
  fileGenerator/CMakeLists.txt
  fileGenerator/main.c
  mergeSortOpenMp/CMakeLists.txt
  mergeSortOpenMp/d2omp.c
  mergeSortOpenMp/main.c
  mergeSortOpenMp/mergeSortParallelOpenMp.c
  mergeSortOpenMp/mergeSortParallelOpenMp.h
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortPThread/main.c
  mergeSortPThread/mergeSortParallelPThread.c
  mergeSortPThread/mergeSortParallelPThread.h
  mergeSortSequential/CMakeLists.txt
  mergeSortSequential/d2s.c
  mergeSortSequential/main.c
  mergeSortSequential/mergeSortSequential.c
  mergeSortSequential/mergeSortSequential.h
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
Labels: repo, readme, github-actions, main

wip
  commonFunctions/commonFunctions.c
  commonFunctions/commonFunctions.h
  test/CMakeLists.txt
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
Labels: none

wip
  CMakeLists.txt
  mergeSortOpenMp/CMakeLists.txt
  mergeSortOpenMp/main.c
  mergeSortOpenMp/mergeSortParallelOpenMp.c
  mergeSortPThread/CMakeLists.txt
  mergeSortSequential/mergeSortSequential.c
  mergeSortSequential/mergeSortSequential.h
  test/CMakeLists.txt
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
Labels: repo, main

wip
  CMakeLists.txt
  mergeSortOpenMp/CMakeLists.txt
  mergeSortPThread/CMakeLists.txt
  mergeSortSequential/CMakeLists.txt
Labels: repo

Corrected codes
  CMakeLists.txt
  commonFunctions/commonFunctions.c
  commonFunctions/commonFunctions.h
  mergeSortOpenMp/CMakeLists.txt
  mergeSortOpenMp/mergeSortParallelOpenMp.c
  mergeSortOpenMp/mergeSortParallelOpenMp.h
  mergeSortPThread/main.c
  mergeSortPThread/mergeSortParallelPThread.c
  mergeSortPThread/mergeSortParallelPThread.h
Labels: repo, main

Added CTests
  CMakeLists.txt
  Makefile
  test/CMakeLists.txt
  test/mergeSortPThreadTest.c
Labels: repo

Added PThread test
  test/mergeSortPThreadTest.c
Labels: none

Corrected new remote OpenMp test name
  test/CMakeLists.txt
  test/mergeSortParallelOpenMpTest.c
  test/mergeSortParallelPThreadTest.c
Labels: none

.github/labeler.yml:

repo:
  - '*'

CMakeLists:
  - 'ParticleEngine/CMakeLists.txt'

readme:
  - 'README.md'

github-actions:
  - '.github/**/*.yml'

src:
  - '*/**/*.{cpp,hpp}'

main:
  - '*/main.*'

test:
  - 'test/**/*.{cpp,hpp}'
