Repository Im-Rises/cMergeSortParallel, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, CMakeLists, readme, github-actions, src, main, test

Added makefileé
  .github/workflows/c-cpp.yml
  BuildMakeFile/SquentialVersion
  BuildMakeFile/readme.txt
  CMakeLists.txt
  README.md
  sequentialVersion/d2s_old.c
Labels: repo, readme, github-actions

Added Makefile
  .gitignore
  BuildMakeFile/OpenMpVersion
  BuildMakeFile/PThreadVersion
  BuildMakeFile/readme.txt
  CMakeLists.txt
Labels: repo

Deleted builds
  BuildMakeFile/OpenMpVersion
  BuildMakeFile/PThreadVersion
  BuildMakeFile/SquentialVersion
Labels: none

wip
  .gitignore
  BuildMakeFile/OpenMpVersion
  BuildMakeFile/PThreadVersion
  BuildMakeFile/SquentialVersion
Labels: repo

wip
  .gitignore
Labels: repo

wip
  .github/workflows/c-cpp.yml
  BuildMakeFile/OpenMpVersion
  BuildMakeFile/PThreadVersion
  BuildMakeFile/SquentialVersion
  README.md
Labels: repo, readme, github-actions

wip
  .github/workflows/c-cpp.yml
  configure
Labels: repo, github-actions

wip
  .github/workflows/c-cpp.yml
Labels: github-actions

wip
  .github/workflows/c-cpp.yml
Labels: github-actions

wip
  .github/workflows/c-cpp.yml
Labels: github-actions

wip
  .github/workflows/c-cpp.yml
  .gitignore
  Makefile
Labels: repo, github-actions

wip
  .github/workflows/c-cpp.yml
Labels: github-actions

Added algorithms
  README.md
  configure
Labels: repo, readme

updated makefile
  Makefile
Labels: repo

wip
  CMakeLists.txt
  Makefile
  fichier_test
  fileGenerator/CMakeLists.txt
  fileGenerator/fileGenerator.c
  resultat
  sequentialVersion/d2s.c
Labels: repo

wip
  sequentialVersion/d2s.c
  sequentialVersion/resultat
Labels: none

wip
  fichier_test
  resultat
Labels: repo

wip
  mergeSortOpenMP/CMakeLists.txt
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/CMakeLists.txt
  mergeSortPThread/d2p.c
  mergeSortSequential/CMakeLists.txt
  mergeSortSequential/d2s.c
  mergeSortSequential/resultat
  sequentialVersion/d2s.c
  sequentialVersion/resultat
Labels: none

wip
  CMakeLists.txt
  Makefile
  README.md
  fichier_test
  fileGenerator/fileGenerator.c
  test/CMakeLists.txt
  test/mergeSortTest.c
Labels: repo, readme

devoir2
  mergeSortPThread/d2p.c
  mergeSortPThread/resultat
Labels: none

devoir2
  fichier_test
  fileGenerator/fileGenerator.c
  mergeSortOpenMP/d2omp.c
  mergeSortOpenMP/resultat
  mergeSortSequential/d2s.c
  test/mergeSortTest.c
Labels: repo

Update
  BuildMakeFile/fileGenerator
  BuildMakeFile/mergeSortOpenMp
  BuildMakeFile/mergeSortPThread
  BuildMakeFile/mergeSortSequential
  Makefile
  fichier_test
  fileGenerator/CMakeLists.txt
  fileGenerator/fileGeneratorExe.c
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
Labels: repo

wip
  BuildMakeFile/fileGenerator
  BuildMakeFile/mergeSortOpenMp
  BuildMakeFile/mergeSortPThread
  BuildMakeFile/mergeSortSequential
  BuildMakeFile/resultOpenMp
  BuildMakeFile/resultPthread
  BuildMakeFile/resultSequential
  mergeSortOpenMP/d2omp.c
  mergeSortSequential/d2s.c
Labels: none

Updated devoir2
  CMakeLists.txt
  Makefile
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
  mergeSortSequential/d2s_other.c
Labels: repo

Added CTest
  BuildMakeFile/resultOpenMp
  BuildMakeFile/resultPthread
  BuildMakeFile/resultSequential
  CMakeLists.txt
  arrayTestFile
  fichier_test
  mergeSortOpenMP/d2omp.c
  mergeSortOpenMP/resultat
  mergeSortPThread/d2p.c
  mergeSortPThread/resultat
  mergeSortSequential/resultat
  test/CMakeLists.txt
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
  test/mergeSortTest.c
Labels: repo

wip
  Makefile
  fileGenerator/CMakeLists.txt
  fileGenerator/fileGenerator.c
  mergeSortOpenMP/d2omp.c
  mergeSortSequential/d2s.c
Labels: repo

wip
  BuildMakeFile/fileGenerator
  BuildMakeFile/mergeSortOpenMp
  BuildMakeFile/mergeSortPThread
  BuildMakeFile/mergeSortSequential
  BuildMakeFile/outputOpenMp
  BuildMakeFile/outputSeq
  fileGenerator/fileGenerator.c
  mergeSortOpenMP/d2omp.c
Labels: none

wip
  BuildMakeFile/mergeSortOpenMp
  BuildMakeFile/outputOpenMp
  BuildMakeFile/outputSeq
  mergeSortOpenMP/d2omp.c
Labels: none

wip
  BuildMakeFile/mergeSortOpenMp
  BuildMakeFile/outputOpenMp
  BuildMakeFile/outputSeq
  mergeSortOpenMP/d2omp.c
Labels: none

pthread wip
  .gitignore
  BuildMakeFile/mergeSortOpenMp
  BuildMakeFile/mergeSortPThread
  BuildMakeFile/outputOpenMp
  buildMakeFile/fileGenerator
  buildMakeFile/mergeSortOpenMp
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
  buildMakeFile/outputOpenMp
  buildMakeFile/outputPThread
  buildMakeFile/outputSeq
  buildMakeFile/readme.txt
  fileGenerator/fileGenerator.sh
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
Labels: repo

Added PThread version
  buildMakeFile/mergeSortPThread
  buildMakeFile/outputPThread
  fichier_test
  mergeSortPThread/d2p.c
Labels: repo

Added bash script
  README.md
  buildMakeFile/fichier_test
  buildMakeFile/fileGenerator
  buildMakeFile/mergeSortOpenMp
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
  buildMakeFile/outputOpenMp
  buildMakeFile/outputPThread
  buildMakeFile/outputSeq
  fileGenerator.sh
  fileGenerator/fileGenerator.sh
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s_other.c
  test/mergeSortOpenMPTest.c
  test/mergeSortPThreadTest.c
  test/mergeSortSequentialTest.c
  test/sortFunctions.h
Labels: repo, readme

Added bash speedTest script
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  speedTest.sh
  test/mergeSortOpenMPTest.c
Labels: repo

wip
  fileGenerator.sh
  speedTest.sh
  speedTest/fileGenerator.sh
  speedTest/ouputs/readme.txt
  speedTest/speedTest.sh
  speedTest/speedTestArrays/readme.txt
Labels: repo

wip2
  buildMakeFile/fileGenerator
  buildMakeFile/mergeSortOpenMp
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
  mergeSortOpenMP/d2omp.c
  mergeSortPThread/d2p.c
  mergeSortSequential/d2s.c
  speedTest/speedTest.sh
Labels: none

wip
  Makefile
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
  mergeSortSequential/d2s.c
  trashtestfil
Labels: repo

wip
  buildMakeFile/fileGenerator
  buildMakeFile/mergeSortOpenMp
  buildMakeFile/mergeSortPThread
  buildMakeFile/mergeSortSequential
Labels: none

wip
  README.md
Labels: repo, readme

wip
  Makefile
  test/sortFunctions.h
Labels: repo

Updated workflows
  .github/workflows/c-cpp.yml
Labels: github-actions

.github/labeler.yml:

repo:
  - '*'

CMakeLists:
  - 'ParticleEngine/CMakeLists.txt'

readme:
  - 'README.md'

github-actions:
  - '.github/**/*.yml'

src:
  - '*/**/*.{cpp,hpp}'

main:
  - '*/main.*'

test:
  - 'test/**/*.{cpp,hpp}'
